<nav class="nav">
    <div class="nav__inner">
        <a href="/" class="nav__logo">
            <img src="/assets/img/logo.svg" alt="">
        </a>

        <ul class="nav__menu">
            <li class="nav__menu-item"><a href="">Priser</a></li>
            <li class="nav__menu-item"><a href="">Artikler</a></li>
            <li class="nav__menu-item"><a href="">Om Nok Nok</a></li>
            <li class="nav__menu-item"><a href="">Prøv gratis</a></li>
        </ul>
    </div>
</nav>