    <header id="header">
        {{> page/nav}}

        {{> chat/chat }}

        <div class="header__img">
            <img class="header__img-img" src="/assets/img/bg-1.jpg" alt="" />
        </div>
    </header>

    <main>
        <section id="first-section">
            <div>
                <h1>Regnskap på ett sted.<br/>Hjelpen også.</h1>
                <p>Nok Nok er alt du trenger for å gjøre regnskapet ditt, med en ekte hjelper inni appen. Et faktisk menneske!</p>
            </div>
            <img src="/assets/img/robot.svg" alt="">
        </section>
    </main>

    {{> footer }}
        
</body>
</html>
