    <header id="header">
        {{> page/nav}}

        <div id="chat-container">
            <ul class="chat-list" id="chat-list">

                {{> chatItem me=true active=true next=true 
                text="Jeg sitter litt fast.. Jeg spanderte lunsj p친 en kunde her om dagen. Hvilken post skal dette f칮res p친? "}}

                {{> chatItem me=false active=true next=true 
                text="S친 sant bel칮pet ikke var p친 over 500kr og dere ikke drakk alkohol skal denne f칮res p친 7235"}}

                {{> chatItem me=true active=true next=true
                text="Sweet! Takk for hjelpen!"}}

                {{> chatItem me=false animate=true 
                text="Det er derfor jeg er er her 游땕"}}

                {{> chatItem me=false animate=true 
                text="Er det noe mer du lurer p친? "}}

                {{> chatItem me=true animate=true
                text="Ja, faktisk!"}}

                {{> chatItem me=true me=true animate=true
                text="Jeg vurderer 친 sette opp en repeterende faktura. Koster dette noe ekstra?"}}
                
                {{> chatItem me=false animate=true 
                text="Nei, dette er inkludert i prisen. Vil du ha hjelp med 친 sette det opp?"}}
                
                {{> chatItem me=true me=true animate=true
                text="Gjerne det! 游땕"}}

                {{> chatItem me=false animate=true 
                text="I menyen, trykk p친 Salg -> Repeterende fakturaer -> Ny repeterende faktura" }}
                
                {{> chatItem me=false animate=true
                text="Finner du fram?"}}

                {{> chatItem me=true animate=true
                text="Der ja! Sweet. Da ordnet det seg" }}

                {{> chatItem me=false animate=true 
                text="Er det noe mer du lurer p친?" }}

                {{> chatItem me=true animate=true
                text="Nei, da tror jeg at jeg er good."}}

                {{> chatItem me=true animate=true
                text="Eller jo, faktisk!"}}

                {{> chatItem me=true animate=true
                text="Jeg tenker 친 starte et aksjeselskap. Hvordan skal jeg g친 fram?"}}

                {{> chatItem me=false animate=true
                text="N친 har du flaks, fordi vi lanserte nettopp en helt gratis tjenste til nettopp dette"}}

                {{> chatItem me=false animate=true
                text="Klikk deg inn her:"}}

                {{> chatItem me=false animate=true
                link="https://go.noknokregnskap.no/starte-as" linktext="https://go.noknokregnskap.no/starte-as" }} 

                {{> chatItem me=true animate=true
                text="Hva mener du med gratis, forresten? Det koster vel penger 친 starte AS?"}}
                
                {{> chatItem me=false animate=true 
                text="Ja, det koster 30.000kr i aksjekapital, og Br칮nn칮ysundregistrene tar 5.570kr i registreringsavgift. Men vi tar ingenting for 친 gj칮re papirarbeidet!" }}

                {{> chatItem me=true animate=true
                text="Ok, da skj칮nner jeg. Jeg pr칮ver meg litt fram. "}}

                {{> chatItem me=true animate=true
                text="Ok, da skj칮nner jeg. Jeg pr칮ver meg litt fram. "}} 
               
                {{> chatItem me=false animate=true
                text="Hyl ut om du trenge hjelp, da! Det er derfor jeg er her."}}

                {{> chatItem me=true animate=true
                text="Du er virkelig behjelpelig, m친 jeg si! Det er jo seint p친 en fredags kveld."}} 
                
                {{> chatItem me=false animate=true
                text="Jeg skal v칝re p친 kontoret til i morgen 07:00. Da tar min kollega stafettpinnen."}}
                
                {{> chatItem me=false animate=true
                text="Folk trenger hjelp med regnskapet d칮gnet rundt 游땍" }}
                
                {{> chatItem me=true animate=true
                text="Jeg skj칮nner. Siden du er p친 vakt og tydeligvis har tid, s친 utnytter jeg situasjonen til 친 fortsette sp칮rsm친lsrunden. "}} 
                
                {{> chatItem me=true animate=true
                text="Jeg trenger et catchy navn til selskapet mitt. Har du noen tanker om hva jeg burde kalle det?"}} 

                {{> chatItem me=false animate=true
                text="Hva er det slags bedrift? "}}

                {{> chatItem me=true animate=true
                text="Jeg driver import og salg av blant annet ginseng og olabukser"}} 

                {{> chatItem me=false animate=true
                text="Hmm...."}}

                {{> chatItem me=false animate=true
                text="Hva med feks Jeanseng AS?"}}

                {{> chatItem me=true animate=true
                text="Det er jo genialt! Hvorfor kom jeg ikke p친 det selv!? "}}
               
                {{> chatItem me=true animate=true
                text="Du burde jo jobbet i reklamebransjen!"}}

                {{> chatItem me=false animate=true
                text="Jeg har skrevet en del revystykker, s친 det er der min kreative penn kommer fra"}}

                {{> chatItem me=true animate=true
                text="Da skj칮nner jeg. Jeg pr칮ver meg litt fram p친 den der Starte AS-greia og kommer tilbake til deg om jeg st친r fast. "}}

                {{> chatItem me=false animate=true
                text="Lykke til med Jeanseng! "}}
            </ul>
        </div> 

        <div class="header__img">
            <img class="header__img-img" src="/assets/img/bg-1.jpg" alt="" />
        </div>

    </header>

    <main>
        <section id="first-section">
            <div>
                <h1>Regnskap p친 ett sted.<br/>Hjelpen ogs친.</h1>
                <p>Nok Nok er alt du trenger for 친 gj칮re regnskapet ditt, med en ekte hjelper inni appen. Et faktisk menneske!</p>
            </div>
            <img src="/assets/img/robot.svg" alt="">
        </section>
    </main>

    {{> footer }}

    <script src="/assets/js/main.js"></script>
    
</body>

</html>
