    <header id="header">
        {{> page/nav}}

        <div id="chat-container">
            <ul class="chat-list" id="chat-list">

                {{> chatItem me=true active=true next=true 
                text="Jeg sitter litt fast.. Jeg spanderte lunsj p친 en kunde her om dagen. Hvilken post skal dette f칮res p친? "}}

                {{> chatItem me=false active=true next=true 
                text="S친 sant bel칮pet ikke var p친 over 500kr og dere ikke drakk alkohol skal denne f칮res p친 7235"}}

                {{> chatItem me=true active=true next=true
                text="Sweet! Takk for hjelpen!"}}

                {{> chatItem me=false animate=true 
                text="Det er derfor jeg er er her 游땕"}}

                {{> chatItem me=false animate=true 
                text="Er det noe mer du lurer p친? "}}

                {{> chatItem me=true animate=true
                text="Ja, faktisk!"}}

                {{> chatItem me=true me=true animate=true
                text="Jeg vurderer 친 sette opp en repeterende faktura. Koster dette noe ekstra?"}}
                
                {{> chatItem me=false animate=true 
                text="Nei, dette er inkludert i prisen. Vil du ha hjelp med 친 sette det opp?"}}
                
                {{> chatItem me=true me=true animate=true
                text="Gjerne det! 游땕"}}

                {{> chatItem me=false animate=true 
                text="I menyen, trykk p친 Salg -> Repeterende fakturaer -> Ny repeterende faktura" }}
                
                {{> chatItem me=false animate=true
                text="Finner du fram?"}}

                {{> chatItem me=true me=true animate=true
                text="Der ja! Sweet. Da ordnet det seg" }}

                {{> chatItem me=false animate=true 
                text="Er det noe mer du lurer p친?" }}

                {{> chatItem me=true me=true animate=true
                text="Nei, da tror jeg at jeg er good."}}

                {{> chatItem me=false animate=true 
                text="Ha en fin dag da!" }}

                {{> chatItem me=true me=true animate=true
                text="Takk det samme" }}

            </ul>
        </div> 

        <div class="header__img">
            <img class="header__img-img" src="/assets/img/bg-1.jpg" alt="" />
        </div>

    </header>

    <main>
        <section id="first-section">
            <div>
                <h1>Regnskap p친 ett sted.<br/>Hjelpen ogs친.</h1>
                <p>Nok Nok er alt du trenger for 친 gj칮re regnskapet ditt, med en ekte hjelper inni appen. Et faktisk menneske!</p>
            </div>
            <img src="/assets/img/robot.svg" alt="">
        </section>
    </main>
    

    <script src="/assets/js/main.js"></script>
    
</body>

</html>
