<div id="chat-container">
    <ul class="chat-list" id="chat-list">
        {{> chat/chatItem me=true active=true next=true 
        text="Jeg sitter litt fast.. Jeg spanderte lunsj p친 en kunde her om dagen. Hvilken post skal dette f칮res p친? "}}

        {{> chat/chatItem me=false active=true next=true 
        text="S친 sant bel칮pet ikke var p친 over 500kr og dere ikke drakk alkohol skal denne f칮res p친 7235"}}

        {{> chat/chatItem me=true active=true next=true
        text="Sweet! Takk for hjelpen!"}}

        {{> chat/chatItem me=false animate=true 
        text="Det er derfor jeg er er her 游땕"}}

        {{> chat/chatItem me=false animate=true 
        text="Er det noe mer du lurer p친? "}}

        {{> chat/chatItem me=true animate=true
        text="Ja, faktisk!"}}

        {{> chat/chatItem me=true me=true animate=true
        text="Jeg vurderer 친 sette opp en repeterende faktura. Koster dette noe ekstra?"}}
        
        {{> chat/chatItem me=false animate=true 
        text="Nei, dette er inkludert i prisen. Vil du ha hjelp med 친 sette det opp?"}}
        
        {{> chat/chatItem me=true me=true animate=true
        text="Gjerne det! 游땕"}}

        {{> chat/chatItem me=false animate=true 
        text="I menyen, trykk p친 Salg -> Repeterende fakturaer -> Ny repeterende faktura" }}
        
        {{> chat/chatItem me=false animate=true
        text="Finner du fram?"}}

        {{> chat/chatItem me=true animate=true
        text="Der ja! Sweet. Da ordnet det seg" }}

        {{> chat/chatItem me=false animate=true 
        text="Er det noe mer du lurer p친?" }}

        {{> chat/chatItem me=true animate=true
        text="Nei, da tror jeg at jeg er good."}}

        {{> chat/chatItem me=true animate=true
        text="Eller jo, faktisk!"}}

        {{> chat/chatItem me=true animate=true
        text="Jeg tenker 친 starte et aksjeselskap. Hvordan skal jeg g친 fram?"}}

        {{> chat/chatItem me=false animate=true
        text="N친 har du flaks, fordi vi lanserte nettopp en helt gratis tjenste til nettopp dette"}}

        {{> chat/chatItem me=false animate=true
        text="Klikk deg inn her:"}}

        {{> chat/chatItem me=false animate=true
        link="https://go.noknokregnskap.no/starte-as" linktext="https://go.noknokregnskap.no/starte-as" }} 

        {{> chat/chatItem me=true animate=true
        text="Hva mener du med gratis, forresten? Det koster vel penger 친 starte AS?"}}
        
        {{> chat/chatItem me=false animate=true 
        text="Ja, det koster 30.000kr i aksjekapital, og Br칮nn칮ysundregistrene tar 5.570kr i registreringsavgift. Men vi tar ingenting for 친 gj칮re papirarbeidet!" }}

        {{> chat/chatItem me=true animate=true
        text="Ok, da skj칮nner jeg. Jeg pr칮ver meg litt fram. "}}

        {{> chat/chatItem me=true animate=true
        text="Ok, da skj칮nner jeg. Jeg pr칮ver meg litt fram. "}} 
        
        {{> chat/chatItem me=false animate=true
        text="Hyl ut om du trenge hjelp, da! Det er derfor jeg er her."}}

        {{> chat/chatItem me=true animate=true
        text="Du er virkelig behjelpelig, m친 jeg si! Det er jo seint p친 en fredags kveld."}} 
        
        {{> chat/chatItem me=false animate=true
        text="Jeg skal v칝re p친 kontoret til i morgen 07:00. Da tar min kollega stafettpinnen."}}
        
        {{> chat/chatItem me=false animate=true
        text="Folk trenger hjelp med regnskapet d칮gnet rundt 游땍" }}
        
        {{> chat/chatItem me=true animate=true
        text="Jeg skj칮nner. Siden du er p친 vakt og tydeligvis har tid, s친 utnytter jeg situasjonen til 친 fortsette sp칮rsm친lsrunden. "}} 
        
        {{> chat/chatItem me=true animate=true
        text="Jeg trenger et catchy navn til selskapet mitt. Har du noen tanker om hva jeg burde kalle det?"}} 

        {{> chat/chatItem me=false animate=true
        text="Hva er det slags bedrift? "}}

        {{> chat/chatItem me=true animate=true
        text="Jeg driver import og salg av blant annet ginseng og olabukser"}} 

        {{> chat/chatItem me=false animate=true
        text="Hmm...."}}

        {{> chat/chatItem me=false animate=true
        text="Hva med feks Jeanseng AS?"}}

        {{> chat/chatItem me=true animate=true
        text="Det er jo genialt! Hvorfor kom jeg ikke p친 det selv!? "}}
        
        {{> chat/chatItem me=true animate=true
        text="Du burde jo jobbet i reklamebransjen!"}}

        {{> chat/chatItem me=false animate=true
        text="Jeg har skrevet en del revystykker, s친 det er der min kreative penn kommer fra"}}

        {{> chat/chatItem me=true animate=true
        text="Da skj칮nner jeg. Jeg pr칮ver meg litt fram p친 den der Starte AS-greia og kommer tilbake til deg om jeg st친r fast. "}}

        {{> chat/chatItem me=false animate=true
        text="Lykke til med Jeanseng! "}}

         {{> chat/chatItem me=true animate=true
        text="Takk for det! "}}

    </ul>
</div> 